@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");


@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue-ThinCond.woff2") format("woff2"),
		url("../fonts/HelveticaNeue-ThinCond.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"),
		url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/Helvetica-Condensed-Black.woff2") format("woff2"),
		url("../fonts/Helvetica-Condensed-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* font-size: 16px; 
	font-family: 'Roboto',sans-serif; */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	/* overflow: hidden; */
}

.whoweare{
	background: #F5F5F5;
	padding: 0px 0px 170px 0px;
}
.whoweare__container{
	font-family: "Roboto", sans-serif;
	max-width: 1020px;
	max-height: 700px;    /* сделал блок чтоб можно было насунть картинку мотора на этот блок */
	 border: 1px solid transparent;   /* еще один вариант добиться желаемого */
  	margin: 0px auto;
	padding: 100px 87px 0px 87px;
	background: #fff url(../img/background-task1.png) top right no-repeat;
}  


.whoweare__subtitle {
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #4b4b4b;
	background: url(../img/icon_from_task1.svg) 0 -6px no-repeat;   /*  -6 px - только так смог отцентрировать иконку к тексту (было то выше то ниже) */
	line-height: 16px;
	margin-bottom: 34px;
	padding: 0px 0px 0px 30px;
}

.whoweare__title {
	font-weight: 900;
	line-height: 42px;
	font-size: 36px;
	color: #02133c;
	max-width: 583px;
	margin-bottom: 36px;
	color: #02133C;
}

.text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
	max-width: 846px;
	margin-bottom: 58px;
}